@keyframes ripple {
  to {
    background-size: 1000% 1000%;
  }
}

@keyframes ripple-on-slider {
  to {
    background-size: auto, 1000% 1000%;
  }
}

@keyframes ripple-on-headerbar {
  from {
    background-image: radial-gradient(circle, #1a73e8 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle, #1a73e8 100%, transparent 0%);
  }
}

@keyframes ripple-on-thunar {
  from {
    background-image: radial-gradient(
      circle,
      @ripple_ultra_light 0%,
      transparent 0%
    );
  }
  to {
    background-image: radial-gradient(
      circle,
      @ripple_ultra_light 100%,
      transparent 0%
    );
  }
}

/* 
    border-bottom effect:


 */
