@define-color bg_main_gray #f6f6f6; /*#EAEFF3; */
@define-color item_gray #838383;
@define-color ripple_ultra_light #dfecfb;
@define-color blue rgb(0, 126, 255);
@define-color text_color #202020;
@define-color selected_color rgb(0, 126, 255);
@define-color selected_unfocus_color rgb(142, 194, 245);
@define-color text_on_selected #ffffff;
@define-color hover_on_list rgba(0, 128, 255, 0.041);
@define-color icon_view_background yellow;
@define-color content_view purple;
@define-color white_color rgba(255, 255, 255, 1);

/* .colors {
  --main_gray: #f6f6f6;
  --ripple_ultra_light: #dfecfb;
  --item_gray: #838383;
  --text-color: #202020;
  --selected-color: rgb(0, 126, 255);
  --selected-unfocus-color: rgb(142, 194, 245);
  --view-item-hover: rgba(0, 128, 255, 0.041);
  --test-color: #5597e1;
  --icon-view-background-color: yellow;
} */
