/* To keep consistence with other gtk themes and how sass functions 
are declared, the file name will be _drawing instead 
of previous _functions */

@keyframes ripple {
  to {
    background-size: 1000% 1000%;
  }
}

$duration: 75ms;
$ripple-fade-in-duration: 225ms;
$ripple-fade-out-duration: 300ms;
$ripple-fade-out-opacity-duration: 1200ms;
$ease-out: cubic-bezier(0, 0, 0.2, 1);

$ripple-transition-property: all, border-image, background-size,
  background-image;
$ripple-transition-duration: $duration, $ripple-fade-in-duration,
  $ripple-fade-out-duration, $ripple-fade-out-opacity-duration;
$ripple-active-transition-duration: $duration, $ripple-fade-in-duration, 0ms,
  0ms;

%ripple {
  transition-property: $ripple-transition-property;
  transition-duration: $ripple-transition-duration;
  transition-timing-function: $ease-out;
  outline: none;
  background-image: radial-gradient(circle, transparent 10%, transparent 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;

  &:active {
    transition-duration: $ripple-active-transition-duration;
    animation: ripple $ripple-fade-in-duration $ease-out forwards;
    background-size: 0% 0%;
  }
}

@keyframes ripple_effect {
  from {
    background-image: radial-gradient(
      circle farthest-corner at center,
      gtkalpha(currentColor, 0.1) 0%,
      transparent 0%
    );
  }
  to {
    background-image: radial-gradient(
      circle farthest-corner at center,
      gtkalpha(currentColor, 0.1) 100%,
      transparent 0%
    );
  }
}

%ripple_animation {
  background-image: radial-gradient(transparent, transparent);

  &:active {
    transition: background-color 0.00001s 0.1s;
    animation: ripple_effect 0.2s cubic-bezier(0, 0, 0.2, 1) forwards;
  }
}
