@keyframes ripple-on-slider {
  to {
    background-size: auto, 1000% 1000%;
  }
}

@keyframes ripple-on-headerbar {
  from {
    background-image: radial-gradient(circle, #1a73e8 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle, #1a73e8 100%, transparent 0%);
  }
}

@keyframes ripple-on-thunar {
  from {
    background-image: radial-gradient(
      circle farthest-corner at center,
      /* circle,  */ $ripple_ultra_light 0%,
      transparent 0%
    );
  }
  to {
    background-image: radial-gradient(
      circle farthest-corner at center,
      /*  circle, */ $ripple_ultra_light 100%,
      transparent 0%
    );
  }
}

@mixin bottom_border_effect($state) {
  @if $state==normal {
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1),
      border-image 225ms cubic-bezier(0, 0, 0.2, 1);
    border-image: radial-gradient(
        circle closest-corner at center calc(100% - 1px),
        $accent_color 0%,
        transparent 0%
      )
      2/0
      0
      0px;
  }

  @if $state==checked {
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-image: radial-gradient(
        circle closest-corner at center calc(100% -1px),
        $accent_color 100%,
        transparent 0%
      )
      2/0
      0
      2px;
  }
}

%backdrop_opacity {
  transition: 0.25s;
  opacity: 0.8;
}
