$theme_mode: "light";
@function gtkalpha($color, $alpha) {
  @return unquote("alpha(#{$color}, #{$alpha})");
}

/* 
 orange accent: #ff821a
 blue accent: rgb(0, 126, 255)
 */
$white_color: #ffffff;
$accent_color: rgb(0, 126, 255);
$bg_color: if($theme_mode == "light", #f6f6f6, #011014);
$error_color: #fc4138;
$text_color: if($theme_mode == "light", #181818, #ececec);

$bg_base: if(
  $theme_mode == "light",
  $white_color,
  mix($accent_color, $bg_color, 5%)
);

$bg_main_dark: #011014;
$text_on_dark: #dde2e7;

$insensitive_bg_color: if(
  $theme_mode == "light",
  mix($bg_color, $bg_base, 40%),
  lighten($bg_color, 2%)
);
$insensitive_fg_color: if(
  $theme_mode == "light",
  rgba($text_color, 0.55),
  rgba($text_color, 0.45)
);

$bg_item_hover: if(
  $theme_mode == "light",
  darken($bg_color, 8%),
  mix($white_color, $bg_color, 10%)
);

$entry_bg_color: if(
  $theme_mode == "light",
  $white_color,
  mix($white_color, $bg_color, 3%)
);

$separator_color: if(
  $theme_mode == "light",
  darken($bg_color, 7%),
  lighten($bg_color, 2%)
);

$ripple_ultra_light: if(
  $theme_mode == "light",
  gtkalpha($accent_color, 0.1),
  mix($accent_color, $bg_color, 30%)
);

$selected_color: $accent_color;
$text_on_selected: #ffffff;

$bg_selected_hover: if(
  $theme_mode == "light",
  gtkalpha($accent_color, 0.15),
  mix($accent_color, $bg_color, 30%)
);

$icon_view_background: $accent_color;
$content_view: purple;
